<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components</title>
    <script src="../The Basics/script/vue.js"></script>
    <script src="script/localGlobal.js" defer></script>
</head>

<body>

    <h3>Component #App</h3>
    <div id="app">
        <my-cmp></my-cmp>
        <hr>
        <my-cmp></my-cmp>
    </div>
    <hr>
    <h3>Component #App2</h3>
    <div id="app2">
        <my-cmp></my-cmp>
        <hr>
        <my-cmp></my-cmp>
    </div>
    <hr>

</body>

</html>